---
import { Button } from "mads";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>mads</title>
  </head>
  <body>
    <Button>Hi!</Button>
  </body>
</html>

<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
</style>
