---
import "mads/styles.css";
import { Heading } from "mads";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="#" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>mads</title>
  </head>
  <body>
    <Heading color="green">Heading</Heading>
  </body>
</html>
